html, body{
    height: 100%;
}
/* Support when class is placed on <body> or on a wrapper */
body.body-theme-blue, .body-theme-blue body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to right, #0d6efd, #3b82f6) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: #0d6efd !important;
    min-height: 100vh;
}
a{
    color: #0b5ed7;
    text-decoration: none;
}
a:hover{
    color: #084298;
}
.uf-form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}
.uf-input-group .input-group-text {
    background: #ffffff70;
    color: #f8f9fa;
    border: unset;
    font-size: 18px;
    padding: 15px;
    width: 50px;
}
.uf-input-group .form-control {
    border: unset;
    border-left: 1px solid #ffffff05;
    font-size: 16px;
    background: #ffffff70;
}

.uf-input-group .form-control:focus {
    box-shadow: unset;
    background: #ffffff;
}
.uf-btn-primary {
    background: #0d6efd;
    color: #fff;
}

.uf-btn-primary:hover {
    background: #0b5ed7;
    color: #fff;
}

.uf-form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.uf-social-login .uf-social-ic+.uf-social-ic{
	margin-left: 15px;
}
.uf-social-ic{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.uf-social-ic:hover{
	background: #182f61;
}
.uf-social-ic:hover i{
	color: #fff;
}
